@model Bloometa.Models.TrackViewModels.AccountViewModel
@{
    ViewData["Title"] = $"Tracking: {Model.AccDetails.Username}";
}

<h1>Account: @Model.AccDetails.Username</h1>
<p>Latest: @Model.Reporting[0].FollowerCount.ToString("N") Followers, @Model.Reporting[0].FollowCount.ToString("N") Following.</p>

<!--
<div class="latest-values">
    <div class="value followers">789</div>
    <div class="value following">546</div>
    <div class="value xxx">88</div>
    <div class="clear"></div>
</div>
-->

<div class="graph-box">
    <canvas id="track--followers--diff-graph" style="width:100%;height:100%;"></canvas>
    <script type="text/javascript">
        var followerDiffGraphEl = document.getElementById("track--followers--diff-graph");
        var followerDiffGraph = new Chart(followerDiffGraphEl, {
            type: "line",
            data: {
                labels: [@{
                    foreach (DateTime Item in Model.ReportingDays)
                    {
                        <text>"@Item.ToString("MMMM dd")",</text>
                    }
                }],
                datasets: [
                    {
                        label: "Following",
                        borderColor: "rgba(255, 0, 0, 0.4)",
                        backgroundColor: "rgba(255, 0, 0, 0)",
                        data: [@{
                            foreach (int Item in Model.ReportingFollowing)
                            {
                                <text>@Item,</text>
                            }
                        }]
                    },
                    {
                        label: "Followers",
                        borderColor: "rgba(0, 128, 0, 0.4)",
                        backgroundColor: "rgba(0, 128, 0, 0.0)",
                        data: [@{
                            foreach (int Item in Model.ReportingFollowers)
                            {
                                <text>@Item,</text>
                            }
                        }]
                    }
                ]
            },
            options: {
                //maintainAspectRatio: false,
                title: {
                    display: true,
                    text: "Followers vs Following"
                },
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        stacked: false,
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>
</div>

<div class="table-container">
    <table>
        <tr>
            <th>Ran at</th>
            <th>Follow Count</th>
            <th>Follower Count</th>
        </tr>
        @foreach (UData Item in Model.Reporting)
        {
            <tr>
                <td>@Item.Run.ToString("MMMM dd, yyyy")</td>
                <td>@Item.FollowCount.ToString("N") (@Item.FollowDifference)</td>
                <td>@Item.FollowerCount.ToString("N") (@Item.FollowerDifference)</td>
            </tr>
        }
    </table>
</div>